*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

/*indroduzione*/
.intro{
    text-align: center;
}

/*layout card*/

.card{
    width: 30%;
    height: 50px;
    background-color: aquamarine;
    float: left;
    margin-right: 5%;
    margin-bottom: 10px;
}

.last.card{
    margin-right: 0;   
}
