*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

/*indroduzione*/
.intro{
    text-align: center;
}

.title{
    font-family: 'Fredoka One', cursive;
    color: #D22F68;
}

/*layout card*/

.card{
    width: 30%;
    background-color: black;
    color:white;
    float: left;
    margin-right: 5%;
    margin-bottom: 30px;
}

.last.card{
    margin-right: 0;   
}

img{
    float: left;
    width: 30%;
    margin-right: 15px;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}

/*layout testo*/
.card>address{
    color: #3AA5D0;
}

.card>h4{
    font-family: 'Fredoka One', cursive;
    padding: 10px;
}