*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

/*indroduzione*/
.intro{
    text-align: center;
}

/*layout card*/

.card{
    width: 30%;
    background-color: black;
    color:white;
    float: left;
    margin-right: 5%;
    margin-bottom: 10px;
}

.last.card{
    margin-right: 0;   
}

img{
    float: left;
    width: 30%;
    margin-right: 15px;
}

.clearfix::after{
    content:"";
    display: block;
    clear: both;
}
